* {
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 100%;
    border: 0;
    outline: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    background: black;
    padding: 20px;
}

iframe {
    display: block; 
    margin: 0 auto;
}

canvas {
    margin: 10px auto 0 auto;
    display: block;
}

.option-select {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 400px;
    margin: 30px auto 0 auto;
    padding: 1rem;
    background: rgb(20, 28, 53);
}

h3 {
    margin-bottom: 0.5rem;
    color: white;
}

button {
    background-color: black;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(207, 207, 207);
}

select {
    background-color: black;
    color: rgb(207, 207, 207);
    padding: 10px 12px;
    border-radius: 5px;
}